
<div class="center">
    <div class="border border-secondary p-5 w-5">
    <form [formGroup]="formValue">
      <div class="mb-3">
        <label for="propertyName" class="form-label">Property Name</label>
        <input type="text" formControlName="propertyName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
  
      <div class="mb-3">
        <label for="propertyLocation" class="form-label">Property Location</label>
        <input type="text"  formControlName="propertyLocation" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
  
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Amount</label>
          <input type="number" formControlName="amount" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Retirement Age</label>
          <input type="number" formControlName="retirementAge" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Monthly Salary</label>
          <input type="number" formControlName="monthlySalary" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Organization</label>
          <input type="text" formControlName="organization" class="form-control number" id="exampleInputPassword1">
        </div>
    
        <div>&nbsp;</div>
        <div class="d-flex justify-content-center align-items-center">
          <button type="submit" (click) = "postIncomeDetails()"  class="btn btn-dark btn-m mb-1 broden">Next</button>       
         </div>
      </form>
    </div>
    </div>

    <!-- routerLink="/loa-det" -->
<!-- <p>inc-det works!</p> -->
