
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button 
 {
    -webkit-appearance: none;
  }