<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand navbar-header" routerLink="home"><i class="fa-sharp fa-solid fa-building-columns"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" routerLink="adm-das">Admin Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page">$$$</a>
            </li>
        </ul>
  
        <span class="navbar-text">
          <a  (click)="logout()" class="nav-link pointer" aria-current="page">Logout</a>
        </span>
        <span class="navbar-text">
            &nbsp;
            &nbsp;
            &nbsp;
        </span>
      </div>
    </div>
  </nav>
  

<!-- <p>use-nav works!</p> -->



<!-- <p>adm-nav works!</p> -->
