<div class="center">
    <div class="border border-secondary p-5 w-5">
    <form [formGroup]="formValue">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Loan Amout</label>
          <input type="number" formControlName="loanAmount" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Tenure in Months</label>
          <input type="number" formControlName="tenure" class="form-control number" id="exampleInputPassword1">
        </div>
    
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Rate of Interest</label>
          <input type="number" formControlName="interest" class="form-control number" id="exampleInputPassword1">
        </div>
        <!-- <input > -->
        <!-- <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Status</label>
          <input type="text" value="value must appear" autocomplete="off" formControlName="status" class="form-control number" id="exampleInputPassword1">
        </div> -->
        <div>&nbsp;</div>
        <div class="d-flex justify-content-center align-items-center">
          <button type="submit" (click)="postLoanDetails()" class="btn btn-dark btn-m mb-1 broden">Submit</button>       
         </div>
      </form>
    </div>
    </div>

<!-- <p>loa-det works!</p> -->
