
<!-- <h1><p>abo-us works!</p></h1> -->

<div class="about-section text-white">
    <h1>About Us</h1>
    <br>
    <br>
    <p>Buying a house is a dream for many and involves alot of 
      financial planning . Our Home Loan makes it simpler for those
      who want to realise this dream.
    </p>    
</div>

<br>
  
  <h2 style="text-align:center">Our Team</h2>

<br><br>
  <!-- <div > -->
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h4>Umar Farouqoe</h4>
          <p class="title">Director</p>
          <p>Head of the Project </p>
          <p>Umar.Farouqoe@lntinfotech</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h4>Sagar Sharma</h4>
          <p class="title">Manager</p>
          <p>Dealing with management</p>
          <p>Sagar.Sharma@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h4>Priyal Kumar</h4>
          <p class="title">System Architect</p>
          <p>Dealing with system issues</p>
          <p>Priyal.Kumar@lntinfotech.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="container">
            <h4>Sai Tarun</h4>
            <p class="title">Hr</p>
            <p>Hr department</p>
            <p>Sai.Tarun@lntinfotech.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
<!-- </div> -->
