
<!DOCTYPE html>
<html>
    <head>
        <title>welcome</title>
    </head>
    <body>
        <div class="bg">
        <div class="container">

            <div class="text"><h1> Home Loans </h1></div> 
            <!-- <br> -->
            <div class="text"><p> @8.5% p.a. onwards</p></div>
            
            <div class="text"><p> Credit score linked interest rate</p></div>
            
            <div class="text"> <p>  Your DREAM HOME JUST A LITTLE AWAY FROM YOU WITH US.</p></div>    
            
        </div>
    </div>
    </body>
</html>

<!-- <p>
    <p>home works!</p>
</p> -->

