
.center{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* height: 500px; */
    /* width: 500px; */
}

.broden{
    width: 60rem;
}
  
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button 
 {
    -webkit-appearance: none;
  }